{% extends 'home/base.html' %}


{% block content %}




  <div class="card">
    <div class="card-header">
      <h2>Lotofácil</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Como jogar</h5>
      <p class="card-text">Você marca entre 15 e 20 números, dentre os 25 disponíveis no volante, e fatura prêmio se acertar 11, 12, 13, 14 ou 15 números.</p>
      <button id="myClickButton" type="button" class="btn btn-primary">Gerar números</button>
        <br><br>
        <div id="myOutput"></div>
        <br><br>
    </div>
  </div>
{% endblock %}