{% extends 'home/base.html' %}
{% load static %}

{% block content %}



<div class="container">
    

    
        {% for message in messages %}
        <div class="alert alert-secondary" role="alert">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
      

    <div class="row justify-content-center align-items-center">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="POST" action="" autocomplete="off">
                        {% csrf_token %}
                        
                        
                        <div class="d-flex flex-column">
                            <div class="p-2">Usuário</div>
                            <div class="p-2">{{ form.username }}</div>
                            <div class="p-2">Senha</div>
                            <div class="p-2">{{ form.password1 }}</div>
                          </div>
                        <br>
                        

                        <input type="submit" name="Login" class="btn btn-primary">

                    </form>

                    Não possui conta? <a href="{% url 'register' %}">Registre aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}